@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
  @apply  bg-primary
  p-2
  rounded-md
  text-center
}

.container{
    width: 200px;
    border: 2px solid salmon;
    padding: 40px;
    margin: 40px;
    width: 50%;   
    
}